.icon-48-resources {
      background-image: url(../images/l_resources.png);
      padding-left:60px!important;
}

.icon-48-resource {
      background-image: url(../images/l_resources.png);
      padding-left:60px!important;
}

