<?xml version="1.0" encoding="utf-8"?>
<config>
	<fields addfieldpath="/administrator/components/com_toomanyfiles/elements/" name="params">

	<fieldset name="component" label="COM_TOOMANYFILES_OPTIONS">
		
		<field 
			title="COM_TOOMANYFILES_INFO_TITLE"
			header="COM_TOOMANYFILES_INFO_HEADER"
			body="COM_TOOMANYFILES_INFO_BODY"
			footer="COM_TOOMANYFILES_INFO_FOOTER"
			type="zzinfo"
			/>
		

		
	</fieldset>
	


	<fieldset
		name="permissions"
		label="JCONFIG_PERMISSIONS_LABEL"
		description="JCONFIG_PERMISSIONS_DESC"
		>
	<field
			name="rules"
			type="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			class="inputbox"
			validate="rules"
			filter="rules"
			component="com_toomanyfiles"
			section="component" />
	</fieldset>

</fields>
</config>