/**
 * TooManyFiles administrator style
 */

.error {
	color: red !important;
	font-weight: bold
}

.alert {
	color: #dd5500 !important;
	font-weight: bold;
	margin-bottom: 20px;
}

.result {
	padding-left: 4em
}

h1.page-title .icon-toomanyfiles {
	background-image: url(../images/logo24.png);
	height:24px;width:24px;
}
h1.page-title .icon-resources {
	background-image: url(../images/logo24.png);
	height:24px;width:24px;
}

.icon-24-toomanyfiles {
	background-image: url(../images/logo24.png)
}

.icon-32-toomanyfiles {
	background-image: url(../images/logo32.png)
}

.icon-48-toomanyfiles {
	background-image: url(../images/logo48.png)
}

li.button .icon-32-options {
	background-image:
		url(../images/icons/options.png);
}

.rightimage {
	float:right;
	margin-left:15px;
}
